#landing {
  padding-top: 1%;
  padding-bottom: 2%;
  margin-left: 35%;
  margin-top: 15%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #d5d6d6;
  width: 30%;
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
}

#mainContent {
  background-color: red;
  width: 
}
